# BuildBuddy remote build event streaming (use --config=buildbuddy to enable)
build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
