name: Bazel Tests

permissions: read-all

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  bazel_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bazelisk
        uses: bazelbuild/setup-bazelisk@v3

      - name: Run tests
        id: run_tests
        run: bazel test //bazel/gtest/test:stock_data_test --build_event_json_file=build_events.json
        continue-on-error: true

      - name: Process test results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        env:
          TRUNK_PUBLIC_API_ADDRESS: ${{ vars.TRUNK_API_ENDPOINT }}
        with:
          bazel-bep-path: build_events.json
          org-slug: ${{ vars.ORG_SLUG }}
          token: ${{ secrets.TRUNK_TOKEN }}
          # Pass the test outcome for quarantining support
          previous-step-outcome: ${{ steps.run_tests.outcome }}
