name: C# Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  csharp_test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore csharp/ItsAlwaysSunnyOnEarth.sln

      - name: Build
        run: dotnet build csharp/ItsAlwaysSunnyOnEarth.sln --no-restore --configuration Release

      - name: Test
        run: dotnet test csharp/ItsAlwaysSunnyOnEarth.Tests/ItsAlwaysSunnyOnEarth.Tests.csproj --no-build --configuration Release --logger "junit;LogFilePath=test-results/csharp-junit.xml;MethodFormat=Class;FailureBodyFormat=Verbose"

      - name: Upload results to Trunk
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        env:
          TRUNK_PUBLIC_API_ADDRESS: ${{ vars.TRUNK_API_ENDPOINT }}
        with:
          # Path to your test results.
          # This path should match the LogFilePath used in the dotnet test command.
          junit-paths: csharp/**/test-results/csharp-junit.xml
          # Provide your Trunk organization slug.
          org-slug: ${{ vars.ORG_SLUG }}
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
        continue-on-error: true

      - name: Upload test results
        if: ${{ always() }} # Always run this step to upload results
        uses: actions/upload-artifact@v4
        with:
          name: csharp-test-results
          path: csharp/**/test-results/csharp-junit.xml
