name: PHP Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  php_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install lib sodium
        run: |
          sudo apt update
          sudo apt install -y libsodium-dev libsodium23

      - name: Setup PHP Action
        uses: shivammathur/setup-php@2.31.1
        with:
          php-version: 8.3.10
          tools: php-cs-fixer, phpunit
          ini-values: error_reporting=-1, display_errors=On

      - name: Run phpunit tests
        id: run_tests
        run:
          phpunit -c php/phpunit/phpunit.xml --bootstrap php/phpunit/src/autoload.php --log-junit
          tests/phpunit_test.xml
        continue-on-error: true

      - name: Process test results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        env:
          TRUNK_PUBLIC_API_ADDRESS: ${{ vars.TRUNK_API_ENDPOINT }}
        with:
          # Path to your test results.
          junit-paths: "**/*_test.xml"
          # Provide your Trunk organization slug.
          org-slug: ${{ vars.ORG_SLUG }}
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
          # Pass the test outcome for quarantining support
          previous-step-outcome: ${{ steps.run_tests.outcome }}

      - name: Upload JUnit XML artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: php-junit-results
          path: "**/*_test.xml"
          retention-days: 7
