name: Python Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  python_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            variant: linux
          - os: macos-latest
            variant: macOS

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest tests
        if: ${{ always() }}
        run:
          pytest python/pytest/** --junitxml=python/results/pytest/pytest_test.xml -o
          junit_family=xunit1

      - name: Run robotframework tests
        if: ${{ always() }}
        run:
          pabot --testlevelsplit --outputdir=python/results/robotframework --output=robot_test.xml
          python/robotframework/**

      - name: Upload results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@dylan/refactor-to-use-release-artifacts-directly
        with:
          # Path to your test results.
          junit-paths: "**/*_test.xml"
          # Provide your Trunk organization slug.
          org-slug: trunk
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
          # Variant to distinguish between OS platforms
          variant: ${{ matrix.variant }}
        continue-on-error: true

      - name: Upload JUnit XML artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: python-junit-results-${{ matrix.variant }}
          path: |
            python/results/**/*_test.xml
            python/**/*_test.xml
          retention-days: 7
