name: Retryable Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: install dependencies
        run: |
          pip install -r requirements.txt

      - name: trunk install
        uses: trunk-io/trunk-action/install@v1.1.16
        with:
          tools: gh

      - name: download artifact (when retrying)
        if: ${{ fromJSON(github.run_attempt) > 1}}
        id: download-artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          pr: ${{github.event.pull_request.number}}
          name: retry-data
          workflow_conclusion: ""
          if_no_artifact_found: error

      - name: test
        id: test
        shell: bash
        run: behave --junit-directory=python/results --junit python/behave
        continue-on-error: true

      - name: Upload results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        with:
          cli-version: 0.10.0-beta.3
          # Path to your test results.
          junit-paths: "**/python/results/*-behave.xml"
          # Provide your Trunk organization slug.
          org-slug: trunk
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
        continue-on-error: true

      - name: upload artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: retry-data
          path: "**/python/behave/retry.data"
          retention-days: 5

      - name: trigger job re-run
        if: ${{ failure() && steps.test.conclusion == 'failure' && fromJSON(github.run_attempt) < 5}}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          GH_DEBUG: api
        run: gh workflow run rerun.yaml -F run_id=${{ github.run_id }}
