name: Ruby Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  ruby_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true

      # this is the recommended way to run rspec tests using the trunk rspec plugin
      - name: Run rspec tests (with trunk rspec plugin)
        if: ${{ always() }}

        working-directory: ruby/trunk_rspec
        env:
          TRUNK_ORG_URL_SLUG: ${{ vars.ORG_SLUG }}
          TRUNK_API_TOKEN: ${{ secrets.TRUNK_TOKEN }}
        run: bundle exec rspec

      - name: Run rspec tests
        if: ${{ always() }}
        run: bundle exec rspec ruby/rspec --format RspecJunitFormatter --out rspec_test.xml
      - name: Run minitest tests
        id: run_tests
        if: ${{ always() }}
        run: bundle exec ruby ruby/minitest/mixer.rb
        continue-on-error: true

      - name: Process test results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        env:
          TRUNK_PUBLIC_API_ADDRESS: ${{ vars.TRUNK_API_ENDPOINT }}
        with:
          # Path to your test results.
          junit-paths: "**/rspec_test.xml,**/ruby/minitest/results/*.xml"
          # Provide your Trunk organization slug.
          org-slug: ${{ vars.ORG_SLUG }}
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
          # Pass the test outcome for quarantining support
          previous-step-outcome: ${{ steps.run_tests.outcome }}

      - name: Upload JUnit XML artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: ruby-junit-results
          path: |
            **/rspec_test.xml
            **/ruby/minitest/results/*.xml
          retention-days: 7
