name: Rust Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Build
        run: cargo build -q --all --manifest-path=./rust/Cargo.toml

      - name: Install nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Install trunk-analytics-cli
        run: bash get-trunk-cli

      - name: Run rust tests and upload results
        # Run this step even if previous steps fail
        if: ${{ always() }}
        env:
          TRUNK_API_TOKEN: ${{ secrets.TRUNK_TOKEN }}
        run: |
          ./trunk-analytics-cli test \
            --org-url-slug trunk \
            --junit-paths "rust/**/nextest/ci/*junit.xml" \
            -- cargo nextest run --profile=ci --manifest-path=./rust/Cargo.toml
        continue-on-error: true
