name: Rust Tests With Variant

on:
  schedule:
    - cron: "*/6 * * * *"
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      # trunk-ignore(checkov/CKV_GHA_7)
      cli-version:
        type: string
        required: false
        description:
          The version of `analytics-cli` to use. Defaults to the latest specified in
          `analytis-uploader`.

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Build
        run: cargo build -q --all --manifest-path=./rust/Cargo.toml

      - name: Install nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Run tests
        run: cargo nextest run --profile=ci --manifest-path=./rust/Cargo.toml

      - name: Upload results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: rust/**/nextest/ci/*junit.xml
          # Provide your Trunk organization slug.
          org-slug: trunk
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
          # Variant to distinguish between OS platforms
          variant: test-variant