name: Rust Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request: {}

jobs:
  rust_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Build
        run: cargo build -q --all --manifest-path=./rust/Cargo.toml

      - name: Install nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Run rust tests
        id: run_tests
        if: ${{ always() }}
        run: cargo nextest run --profile=ci --manifest-path=./rust/Cargo.toml
        continue-on-error: true

      - name: Process test results
        # Run this step even if the test step ahead fails
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        env:
          TRUNK_PUBLIC_API_ADDRESS: ${{ vars.TRUNK_API_ENDPOINT }}
        with:
          # Path to your test results.
          junit-paths: rust/**/nextest/ci/*junit.xml
          # Provide your Trunk organization slug.
          org-slug: ${{ vars.ORG_SLUG }}
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_TOKEN }}
          # Pass the test outcome for quarantining support
          previous-step-outcome: ${{ steps.run_tests.outcome }}

      - name: Upload JUnit XML artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: rust-junit-results
          path: rust/**/nextest/ci/*junit.xml
          retention-days: 7
